/* [Master Stylesheet] */
/* ----------------------------------------------------------
    :: Template 
    :: Author: Turbo
    :: Version: 1.0
    :: Created: 06 2023
    :: Last Updated: 06 2023
    ---------------------------------------------------------- */
/* -------------------------------------------------
    ============ PLACE YOUR CUSTOM CSS HERE ============
    ------------------------------------------------- */
/*start my style */
* {
  box-sizing: border-box;
}

body {
  font-family: "Cairo", sans-serif;
  overflow-x: hidden;
  position: relative;
  direction: ltr;
}

main {
  min-height: calc(100vh - 270px);
}

a {
  text-decoration: none !important;
}

.mt-5 {
  margin-top: 0.25rem;
}

.mt-10 {
  margin-top: 0.6rem;
}

.mt-20 {
  margin-top: 1.1rem;
}

.mt-30 {
  margin-top: 1.8rem;
}

.mt-40 {
  margin-top: 2.5rem;
}

.mt-60 {
  margin-top: 3.3rem;
}

.mb-10 {
  margin-bottom: 0.6rem;
}

.mb-20 {
  margin-bottom: 1.1rem;
}

.mb-30 {
  margin-bottom: 1.8rem;
}

.mb-40 {
  margin-bottom: 2.5rem;
}

.section-padding, footer {
  padding: 4rem 0;
}

.transition, footer img, .secondBtn, .primaryBtn {
  transition: all ease-in-out 0.3s;
}

.main_color {
  color: #4AABE8;
}

.sec_color {
  color: #8EC6A1;
}

.green_color {
  color: #0AC94B;
}

.grey_color {
  color: #D3D3D3;
}

.inputGroup select, .inputGroup input {
  border: none;
  outline: none;
  background: transparent;
  margin-top: -0.3rem;
}

.hotel_filter .hotel_card, .hotel_informations .my_card {
  padding: 1rem;
  border: 1px solid #D5D5D5;
  border-radius: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.inputGroup {
  border: 1px solid #D5D5D5;
  background: #fff;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  height: 3.7rem;
}
.inputGroup label {
  display: block;
  color: #000;
}
.inputGroup input {
  width: 100%;
  color: #999;
}
.inputGroup input::-moz-placeholder {
  color: #ccc;
}
.inputGroup input::placeholder {
  color: #ccc;
}
.inputGroup select {
  color: #ccc;
  width: 100%;
}

.secondBtn, .primaryBtn {
  color: #fff;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  outline-color: #78cbff;
  height: 3.7rem;
}

.primaryBtn {
  background-color: #4AABE8;
  border: 2px solid #4AABE8;
}
.primaryBtn:hover {
  background: transparent;
  color: #4AABE8;
}

.secondBtn {
  background-color: #8EC6A1;
  border: 2px solid #8EC6A1;
}
.secondBtn:hover {
  background: transparent;
  color: #8EC6A1;
}

nav.breadcrumb {
  padding-top: 1rem;
}
nav.breadcrumb ol {
  margin-bottom: 0;
}
nav.breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: var(--bs-breadcrumb-divider, ">");
}

header nav {
  background: #fff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
}
header nav .nav-link {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
  text-transform: capitalize;
}
header nav a.navbar-brand {
  -webkit-margin-end: 5rem;
          margin-inline-end: 5rem;
}
header nav img.logo {
  height: 2.75rem;
}
header nav .right-side .nav-link {
  padding-right: 2rem !important;
  padding-left: 2rem !important;
}
header nav .right-side .haveBorder {
  position: relative;
}
header nav .right-side .haveBorder::after {
  content: "";
  position: absolute;
  right: 0;
  width: 1px;
  height: 25px;
  background: #e1e1e1;
  bottom: 8px;
}

.hero img {
  height: 30rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.searchBar {
  position: relative;
  z-index: 10;
  margin-top: -8rem;
  margin-bottom: 3rem;
}
.searchBar .content-box {
  background-color: #F8F8F8;
  border-radius: 1rem;
  padding: 1rem;
}

.quickStart a {
  width: 20rem;
}

footer {
  background: #F8F8F8;
  color: #5D5D5D;
  margin-top: 2rem;
}
footer img:hover {
  transform: scale(1.1);
}
footer .links li {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
footer .links li:last-child {
  margin-bottom: unset;
}
footer .links li a {
  color: inherit;
  font-size: 1.25rem;
}

.sign_in {
  padding: 4rem 0;
  min-height: calc(100vh - 90px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign_in .sign_box {
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.1607843137);
  padding: 1rem;
}
.sign_in .sign_box a {
  color: #4AABE8;
}
.sign_in .sign_box h2 {
  background: #F8F8F8;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1rem;
  padding: 0.5rem;
  font-weight: 700;
  color: #5D5D5D;
}

.servises-tab {
  background: #D5EEFC;
}
.servises-tab li {
  padding: 0.8rem 0.2rem;
  text-align: center;
}
.servises-tab li.active {
  border-bottom: 3px solid #4AABE8;
}
.servises-tab li:not(:last-child) {
  -webkit-margin-end: 2rem;
          margin-inline-end: 2rem;
}
.servises-tab a {
  color: #4E4E4E;
  font-size: 1rem;
  font-weight: 700;
}
.servises-tab a img {
  -webkit-margin-end: 0.15rem;
          margin-inline-end: 0.15rem;
}

.filter_content {
  padding: 2rem 0;
}
.filter_content .filter_box {
  background: #F8F8F8 0% 0% no-repeat padding-box;
  border-radius: 1.3rem;
  padding: 1rem;
}
.filter_content .filter_box h3 {
  color: #8EC6A1;
  font-size: 1.1rem;
  font-weight: 700;
}
.filter_content .filter_box .inputGroup {
  margin: 0.5rem 0;
}
.filter_content .filter_box button {
  margin-top: 0.5rem;
}
.filter_content .filter_box hr {
  background: #707070;
}
.filter_content .filter_box .stars_box,
.filter_content .filter_box .rate_box {
  display: flex;
  gap: 0.2rem;
  justify-content: space-around;
}
.filter_content .filter_box .stars_box .checkbox_box,
.filter_content .filter_box .rate_box .checkbox_box {
  border-radius: 0px;
  border: 1px solid #D5D5D5;
  margin-top: 0.5rem;
}
.filter_content .filter_box .stars_box .checkbox_box .all,
.filter_content .filter_box .rate_box .checkbox_box .all {
  background: #fff;
  display: flex;
  border-radius: 0px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.2rem;
  width: 3.7rem;
  height: 3.7rem;
  font-size: 0.8rem;
  color: #4E4E4E;
}
.filter_content .filter_box .stars_box .checkbox_box .all i,
.filter_content .filter_box .rate_box .checkbox_box .all i {
  -webkit-margin-after: 0.25rem;
          margin-block-end: 0.25rem;
}
.filter_content .filter_box .stars_box .checkbox_box .all p,
.filter_content .filter_box .rate_box .checkbox_box .all p {
  margin: 0;
}
.filter_content .filter_box .stars_box .checkbox_box input:checked + .all,
.filter_content .filter_box .rate_box .checkbox_box input:checked + .all {
  background: #8EC6A1;
  color: #fff;
}
.filter_content .filter_box .stars_box .checkbox_box input,
.filter_content .filter_box .rate_box .checkbox_box input {
  display: none;
}
.filter_content .filter_box .stars_box .checkbox_box:first-child,
.filter_content .filter_box .rate_box .checkbox_box:first-child {
  border-radius: 0.5rem 0 0 0.5rem;
}
.filter_content .filter_box .stars_box .checkbox_box:first-child .all,
.filter_content .filter_box .rate_box .checkbox_box:first-child .all {
  border-radius: 0.5rem 0 0 0.5rem;
}
.filter_content .filter_box .stars_box .checkbox_box:last-child,
.filter_content .filter_box .rate_box .checkbox_box:last-child {
  border-radius: 0 0.5rem 0.5rem 0;
}
.filter_content .filter_box .stars_box .checkbox_box:last-child .all,
.filter_content .filter_box .rate_box .checkbox_box:last-child .all {
  border-radius: 0 0.5rem 0.5rem 0;
}
.filter_content .free_cancel {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.filter_content .free_cancel label {
  color: #4E4E4E;
}
.filter_content .free_cancel input {
  -webkit-margin-end: 0.25rem;
          margin-inline-end: 0.25rem;
  width: 1rem;
  height: 1rem;
}

.hotel_informations {
  padding: 1rem 0;
}
.hotel_informations .my_card .card_title {
  color: #4AABE8;
  font-weight: 700;
  font-size: 1.2rem;
}
.hotel_informations .my_card p.num {
  display: inline-block;
  font-size: 3rem;
  margin-bottom: 0;
}
.hotel_informations .my_card span.description {
  color: #4E4E4E;
  font-size: 0.9rem;
}
.hotel_informations .my_card hr {
  background: #b9b8b8;
}

.hotel_filter .search_box {
  background: #F8F8F8 0% 0% no-repeat padding-box;
  border-radius: 1.3rem;
  padding: 1rem;
}
.hotel_filter .title_box {
  background: #E8F6FF;
  border-radius: 1rem;
  padding: 1rem;
}
.hotel_filter .title_box h3 {
  margin-top: 0;
  font-size: 1.3rem;
  font-weight: 700;
  color: #000;
  margin-bottom: 0.2rem;
}
.hotel_filter .title_box p {
  margin: 0;
  color: #4E4E4E;
}
.hotel_filter .map iframe {
  border-radius: 1.3rem;
}
.hotel_filter .filter_sidebar h5 {
  color: #000;
  font-size: 0.9rem;
  font-weight: 700;
  margin-top: 0;
}
.hotel_filter .filter_sidebar h6 {
  font-size: 1rem;
}
.hotel_filter .filter_sidebar select {
  width: 100%;
  border: 1px solid #D5D5D5;
  border-radius: 0.3rem;
  height: 2rem;
  outline-color: #4AABE8;
}
.hotel_filter .filter_sidebar input[type=text] {
  width: 100%;
  border: 1px solid #D5D5D5;
  border-radius: 0.3rem;
  height: 2rem;
  outline-color: #4AABE8;
  padding: 0.5rem;
}
.hotel_filter .filter_sidebar hr {
  background: #b6b5b5;
}
.hotel_filter .filter_sidebar label {
  font-size: 0.8rem;
}
.hotel_filter .filter_sidebar .checkbox-list {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 0.5rem;
}
.hotel_filter .filter_sidebar .checkbox-list div {
  display: flex;
  align-items: start;
  gap: 0.5rem;
}
.hotel_filter .filter_sidebar .checkbox-list input {
  margin-top: 0.3rem;
  color: #fff;
}
.hotel_filter .filter_sidebar .checkbox-list span {
  font-size: 0.7rem;
  color: #969696;
}
.hotel_filter .filter_sidebar .checkbox-list i.fa-star {
  color: #FFC107;
}
/* Responsive */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .quickStart a {
    width: 90%;
  }
  .hotel_informations .my_card p.num {
    font-size: 2rem;
  }
}
/* galaxy S5 */
/* iphone x, 6/7/8 */
/* iphone 6/7/8 plus */
/* ipad */
/* ipad pro  */
/* 17 inch *//*# sourceMappingURL=style.css.map */