/* [Master Stylesheet] */
/* ----------------------------------------------------------
    :: Template 
    :: Author: Turbo
    :: Version: 1.0
    :: Created: 06 2023
    :: Last Updated: 06 2023
    ---------------------------------------------------------- */
/* -------------------------------------------------
    ============ PLACE YOUR CUSTOM CSS HERE ============
    ------------------------------------------------- */
/*start my style */
* {
  box-sizing: border-box;
}

body {
  font-family: "Cairo", sans-serif;
  overflow-x: hidden;
  position: relative;
  direction: ltr;
}

main {
  min-height: calc(100vh - 270px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #4e4e4e;
}

a {
  text-decoration: none !important;
  color: #4aabe8;
}

.mt-5 {
  margin-top: 0.25rem;
}

.mt-10 {
  margin-top: 0.6rem;
}

.mt-20 {
  margin-top: 1.1rem;
}

.mt-30 {
  margin-top: 1.8rem;
}

.mt-40 {
  margin-top: 2.5rem;
}

.mt-60 {
  margin-top: 3.3rem;
}

.mb-10 {
  margin-bottom: 0.6rem;
}

.mb-20 {
  margin-bottom: 1.1rem;
}

.mb-30 {
  margin-bottom: 1.8rem;
}

.mb-40 {
  margin-bottom: 2.5rem;
}

.section-padding, footer {
  padding: 4rem 0;
}

.transition, footer img, .btnGrey, .outlineBtn, .greyBtn, .redBtn, .secondBtn, .primaryBtn {
  transition: all ease-in-out 0.3s;
}

.main_color {
  color: #4aabe8;
}

.sec_color {
  color: #8ec6a1;
}

.green_color {
  color: #0ac94b;
}

.grey_color {
  color: #d3d3d3;
}

.red_color {
  color: #e84a4a;
}

.fa-star {
  color: #ffc107;
}

label.requierd {
  position: relative;
}
label.requierd::after {
  content: "*";
  color: #f00;
  padding-inline-start: 0.3rem;
}

.inputGroup select, .inputGroup input {
  border: none;
  outline: none;
  background: transparent;
  margin-top: -0.3rem;
}

.profile .profile_content .profile_box, .orders .cancel_box, .voucher .right_box, .voucher .left_box .wallet_balance, .voucher .left_box, .booking .guest_info_box, .hotel_details .hotel_description .hotel_description_box, .hotel_details .search_box, .hotel_details .hotel_details_box, .hotel_filter .hotel_card, .hotel_informations .my_card {
  padding: 1rem;
  border: 1px solid #d5d5d5;
  border-radius: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.inputGroup {
  border: 1px solid #d5d5d5;
  background: #fff;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  height: 3.7rem;
}
.inputGroup label {
  display: block;
  color: #000;
}
.inputGroup input {
  width: 100%;
  color: #999;
}
.inputGroup input::-moz-placeholder {
  color: #ccc;
}
.inputGroup input::placeholder {
  color: #ccc;
}
.inputGroup select {
  color: #ccc;
  width: 100%;
}

.btnGrey, .outlineBtn, .greyBtn, .redBtn, .secondBtn, .primaryBtn {
  color: #fff;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  outline-color: #78cbff;
  height: 3.7rem;
}

.primaryBtn {
  background-color: #4aabe8;
  border: 2px solid #4aabe8;
}
.primaryBtn:hover {
  background: transparent;
  color: #4aabe8;
}

.secondBtn {
  background-color: #8ec6a1;
  border: 2px solid #8ec6a1;
}
.secondBtn:hover {
  background: transparent;
  color: #8ec6a1;
}

.redBtn {
  border: 2px solid #e84a4a;
  background: #e84a4a;
}
.redBtn:hover {
  background: transparent;
  color: #e84a4a;
}

.greyBtn {
  border: 2px solid #e1e1e1;
  background: #e1e1e1;
  color: #555;
}
.greyBtn:hover {
  color: #222;
}

.outlineBtn {
  background-color: transparent;
  border: 2px solid #4aabe8;
  color: #4aabe8;
}
.outlineBtn:hover {
  color: #4aabe8;
  border-color: transparent;
}

.btnGrey {
  border: 2px solid #e1e1e1;
  background: #e1e1e1;
  color: #4e4e4e;
}
.btnGrey:hover {
  background: transparent;
  color: #4e4e4e;
}

nav.breadcrumb {
  padding-top: 1rem;
}
nav.breadcrumb a {
  color: #4aabe8;
}
nav.breadcrumb ol {
  margin-bottom: 0;
}
nav.breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: var(--bs-breadcrumb-divider, ">");
}

header nav {
  background: #fff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
}
header nav .nav-link {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
  text-transform: capitalize;
}
header nav a.navbar-brand {
  margin-inline-end: 5rem;
}
header nav img.logo {
  height: 2.75rem;
}
header nav .right-side .nav-link {
  padding-right: 2rem !important;
  padding-left: 2rem !important;
}
header nav .right-side .haveBorder {
  position: relative;
}
header nav .right-side .haveBorder::after {
  content: "";
  position: absolute;
  right: 0;
  width: 1px;
  height: 25px;
  background: #e1e1e1;
  bottom: 8px;
}
header .spec_profile_dropdown .dropdown-menu[data-bs-popper] {
  left: unset;
  right: 0;
  padding: 0.5rem;
  min-width: 20rem;
}
header .spec_profile_dropdown .dropdown-menu[data-bs-popper] h5 {
  margin: 0 0 0.5rem 0;
  font-weight: 700;
  font-size: 1rem;
}
header .spec_profile_dropdown .dropdown-menu[data-bs-popper] h6 {
  margin: 0 0 0.5rem 0;
  font-size: 0.9rem;
}
header .spec_profile_dropdown .dropdown-menu[data-bs-popper] p {
  margin: 0;
  font-size: 0.9rem;
}
header .spec_profile_dropdown .dropdown-menu[data-bs-popper] div {
  background: #f8f8f8;
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  align-items: center;
  font-size: 0.9rem;
}
header .spec_menu_dropdown h6 {
  margin: 0;
  padding: 0.5rem;
  background: #f8f8f8;
  border-radius: 0.3rem;
  font-weight: 700;
  font-size: 0.8rem;
}
header .spec_menu_dropdown .dropdown-toggle::after {
  display: none;
  outline: none;
}
header .spec_menu_dropdown .btn-check:focus + .btn,
header .spec_menu_dropdown .btn:focus {
  box-shadow: unset;
}
header .spec_menu_dropdown .dropdown-menu[data-bs-popper] {
  left: unset;
  right: 0;
  padding: 0;
  min-width: 13rem;
}
header .tab-nav-bar button {
  background: transparent;
  border: none;
  outline: none;
}
header .tab-nav-bar .active {
  color: #4aabe8 !important;
}

.map iframe {
  width: 100%;
  height: 200px;
  border: 1px solid #eee;
  border-radius: 5px;
}

.hero img {
  height: 30rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.searchBar {
  position: relative;
  z-index: 10;
  margin-top: -6.2rem;
  margin-bottom: 3rem;
}
.searchBar .content-box {
  background-color: #f8f8f8;
  border-radius: 1rem;
  padding: 1rem;
}

.quickStart a {
  width: 20rem;
}

footer {
  background: #f8f8f8;
  color: #5d5d5d;
  margin-top: 2rem;
}
footer img:hover {
  transform: scale(1.1);
}
footer .links li {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
footer .links li:last-child {
  margin-bottom: unset;
}
footer .links li a {
  color: inherit;
  font-size: 1.1rem;
}

.sign_in {
  padding: 0;
  min-height: calc(100vh - 90px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign_in .sign_box {
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.1607843137);
  padding: 1rem;
  background: #fff;
}
.sign_in .sign_box a {
  color: #4aabe8;
}
.sign_in .sign_box h2 {
  background: #f8f8f8;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1rem;
  padding: 0.5rem;
  font-weight: 700;
  color: #5d5d5d;
}
.sign_in.new_login {
  padding-bottom: 0;
  justify-content: flex-start;
  min-height: calc(100vh - 56px);
}
.sign_in.new_login .carousel-item {
  height: calc(100vh - 56px);
  width: 100%;
}
.sign_in.new_login .carousel-item img {
  filter: grayscale(30%);
  width: 100%;
}
.sign_in.new_login .carousel-caption {
  position: absolute;
  bottom: unset;
  right: 10%;
  left: 10%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: unset;
}
.sign_in.new_login .carousel-control-next,
.sign_in.new_login .carousel-control-prev {
  width: 11%;
}

.login_footer {
  background: #f8f8f8;
  padding: 1rem 0;
}
.login_footer ul {
  margin: 0;
}
.login_footer ul li {
  margin-inline-end: 2rem !important;
}

.servises-tab {
  background: #d5eefc;
}
.servises-tab li {
  padding: 0.8rem 0.2rem;
  text-align: center;
}
.servises-tab li.active {
  border-bottom: 3px solid #4aabe8;
}
.servises-tab li:not(:last-child) {
  margin-inline-end: 2rem;
}
.servises-tab a {
  color: #4e4e4e;
  font-size: 1rem;
  font-weight: 700;
}
.servises-tab a img {
  margin-inline-end: 0.15rem;
}

.filter_content {
  padding: 2rem 0;
}
.filter_content .filter_box {
  background: #f8f8f8 0% 0% no-repeat padding-box;
  border-radius: 1.3rem;
  padding: 1rem;
}
.filter_content .filter_box h3 {
  color: #8ec6a1;
  font-size: 1.1rem;
  font-weight: 700;
}
.filter_content .filter_box .inputGroup {
  margin: 0.5rem 0;
}
.filter_content .filter_box button {
  margin-top: 0.5rem;
}
.filter_content .filter_box hr {
  background: #707070;
}
.filter_content .filter_box .stars_box,
.filter_content .filter_box .rate_box {
  display: flex;
  gap: 0.2rem;
  justify-content: space-around;
}
.filter_content .filter_box .stars_box .checkbox_box,
.filter_content .filter_box .rate_box .checkbox_box {
  border-radius: 0px;
  border: 1px solid #d5d5d5;
  margin-top: 0.5rem;
}
.filter_content .filter_box .stars_box .checkbox_box .all,
.filter_content .filter_box .rate_box .checkbox_box .all {
  background: #fff;
  display: flex;
  border-radius: 0px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.2rem;
  width: 3.7rem;
  height: 3.7rem;
  font-size: 0.8rem;
  color: #4e4e4e;
}
.filter_content .filter_box .stars_box .checkbox_box .all i,
.filter_content .filter_box .rate_box .checkbox_box .all i {
  margin-block-end: 0.25rem;
}
.filter_content .filter_box .stars_box .checkbox_box .all p,
.filter_content .filter_box .rate_box .checkbox_box .all p {
  margin: 0;
}
.filter_content .filter_box .stars_box .checkbox_box input.active + .all,
.filter_content .filter_box .rate_box .checkbox_box input.active + .all {
  background: #8ec6a1;
  color: #fff;
}
.filter_content .filter_box .stars_box .checkbox_box input,
.filter_content .filter_box .rate_box .checkbox_box input {
  display: none;
}
.filter_content .filter_box .stars_box .checkbox_box:first-child,
.filter_content .filter_box .rate_box .checkbox_box:first-child {
  border-radius: 0.5rem 0 0 0.5rem;
}
.filter_content .filter_box .stars_box .checkbox_box:first-child .all,
.filter_content .filter_box .rate_box .checkbox_box:first-child .all {
  border-radius: 0.5rem 0 0 0.5rem;
}
.filter_content .filter_box .stars_box .checkbox_box:last-child,
.filter_content .filter_box .rate_box .checkbox_box:last-child {
  border-radius: 0 0.5rem 0.5rem 0;
}
.filter_content .filter_box .stars_box .checkbox_box:last-child .all,
.filter_content .filter_box .rate_box .checkbox_box:last-child .all {
  border-radius: 0 0.5rem 0.5rem 0;
}
.filter_content .free_cancel {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.filter_content .free_cancel label {
  color: #4e4e4e;
}
.filter_content .free_cancel input {
  margin-inline-end: 0.25rem;
  width: 1rem;
  height: 1rem;
}

.hotel_informations {
  padding: 1rem 0;
}
.hotel_informations .my_card .card_title {
  color: #4aabe8;
  font-weight: 700;
  font-size: 1.2rem;
}
.hotel_informations .my_card p.num {
  display: inline-block;
  font-size: 3rem;
  margin-bottom: 0;
}
.hotel_informations .my_card span.description {
  color: #4e4e4e;
  font-size: 0.9rem;
}
.hotel_informations .my_card hr {
  background: #b9b8b8;
}

.hotel_filter .search_box {
  background: #f8f8f8 0% 0% no-repeat padding-box;
  border-radius: 1.3rem;
  padding: 1rem;
}
.hotel_filter .title_box {
  background: #e8f6ff;
  border-radius: 1rem;
  padding: 1rem;
}
.hotel_filter .title_box h3 {
  margin-top: 0;
  font-size: 1.3rem;
  font-weight: 700;
  color: #000;
  margin-bottom: 0.2rem;
}
.hotel_filter .title_box p {
  margin: 0;
  color: #4e4e4e;
}
.hotel_filter .map {
  height: 200vh;
}
.hotel_filter .map iframe {
  border-radius: 1.3rem;
  height: 100%;
}
.hotel_filter .filter_sidebar h5 {
  color: #000;
  font-size: 0.9rem;
  font-weight: 700;
  margin-top: 0;
}
.hotel_filter .filter_sidebar h6 {
  font-size: 1rem;
}
.hotel_filter .filter_sidebar select {
  width: 100%;
  border: 1px solid #d5d5d5;
  border-radius: 0.3rem;
  height: 2rem;
  outline-color: #4aabe8;
}
.hotel_filter .filter_sidebar input[type=text] {
  width: 100%;
  border: 1px solid #d5d5d5;
  border-radius: 0.3rem;
  height: 2rem;
  outline-color: #4aabe8;
  padding: 0.5rem;
}
.hotel_filter .filter_sidebar hr {
  background: #b6b5b5;
}
.hotel_filter .filter_sidebar label {
  font-size: 0.8rem;
}
.hotel_filter .filter_sidebar .checkbox-list {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 0.5rem;
}
.hotel_filter .filter_sidebar .checkbox-list div {
  display: flex;
  align-items: start;
  gap: 0.5rem;
}
.hotel_filter .filter_sidebar .checkbox-list input {
  margin-top: 0.3rem;
}
.hotel_filter .filter_sidebar .checkbox-list span {
  font-size: 0.7rem;
  color: #969696;
}
.hotel_filter .filter_sidebar .checkbox-list i.fa-star {
  color: #ffc107;
}
.hotel_filter .ph-item {
  direction: ltr;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0 0.5rem 0;
  overflow: hidden;
  margin-bottom: 1rem;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 1rem;
}
.hotel_filter .hotel_card {
  padding: 0;
  color: #4e4e4e;
  position: relative;
}
.hotel_filter .hotel_card .col-sm-4 {
  padding-inline-end: 0;
}
.hotel_filter .hotel_card .col-sm-8 {
  padding-inline-start: 0;
}
.hotel_filter .hotel_card .content {
  padding: 1rem 1rem 0 1rem;
}
.hotel_filter .hotel_card a.add_favourite {
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  background: rgba(255, 255, 255, 0.7450980392);
  color: #4e4e4e;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  left: 0.7rem;
  top: 0.7rem;
}
.hotel_filter .hotel_card a.add_favourite svg {
  height: 1.5rem;
}
.hotel_filter .hotel_card .hotel_img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 0.7rem;
  border-radius: 1rem 0 0 1rem;
}
.hotel_filter .hotel_card .hotel_name {
  color: #000;
  font-weight: 700;
  font-size: 1.3rem;
}
.hotel_filter .hotel_card .feat {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}
.hotel_filter .hotel_card .feat .review {
  border-radius: 1.5rem;
  color: #fff;
  background: #8ec6a1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  gap: 2rem;
  flex-wrap: nowrap;
}
.hotel_filter .hotel_card .feat .feat-list {
  background: #f8f8f8;
  border-radius: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  gap: 0.8rem;
}
.hotel_filter .hotel_card .classification-type {
  font-size: 0.9rem;
  font-weight: 700;
  margin-bottom: 0.2rem;
}
.hotel_filter .hotel_card .right-side {
  padding-inline-start: 0.8rem;
  border-inline-start: 2px solid #d4d3d3;
}
.hotel_filter .hotel_card .price-box {
  background: #f8f8f8;
  padding: 1rem;
  border-radius: 0 0 1rem 0;
}
.hotel_filter .hotel_card .price-box h5 {
  margin-bottom: 0;
}
.hotel_filter .hotel_card .price-box .primaryBtn {
  height: 3rem;
  font-size: 1rem;
  min-width: 9rem;
}
.hotel_filter .hotel_card.small_card .hotel_img {
  border-radius: 1rem 1rem 0 0;
  height: 13rem;
}
.hotel_filter .hotel_card.small_card .feat .review {
  position: absolute;
  top: 10rem;
  left: 0.7rem;
}
.hotel_filter .hotel_card.small_card .starts {
  background: #fff;
  border-radius: 1.5rem;
  position: absolute;
  top: 10rem;
  left: 4rem;
  padding: 0.5rem;
}
.hotel_filter .hotel_card.small_card .feat {
  margin: 0.3rem;
}
.hotel_filter .hotel_card.small_card .content {
  padding-top: 0;
}
.hotel_filter .hotel_card.small_card .content span {
  padding-inline-start: 0 !important;
}
.hotel_filter .hotel_card.small_card .price-box {
  border-radius: 0 0 1rem 1rem;
}

.lb-outerContainer {
  width: 80vw !important;
  height: 80vh !important;
}
.lb-outerContainer img {
  width: 80vw !important;
  height: 80vh !important;
  -o-object-fit: cover;
     object-fit: cover;
}

.hotel_details .primaryBtn {
  height: 3rem;
  font-size: 1rem;
}
.hotel_details .hotel_details_box {
  background: #f8f8f8;
  border-color: #f8f8f8;
  margin-bottom: 1rem;
}
.hotel_details .hotel_details_box .hotel_name {
  color: #000;
  font-weight: 800;
  font-size: 1.3rem;
}
.hotel_details .hotel_details_box .feat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.7rem;
  margin: 1rem 0;
  border-inline-end: 2px solid #e2e2e2;
}
.hotel_details .hotel_details_box .feat .review {
  border-radius: 1.5rem;
  color: #fff;
  background: #8ec6a1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  gap: 2rem;
  flex-wrap: nowrap;
}
.hotel_details .hotel_details_box .feat .feat-list {
  background: #fff;
  border-radius: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  gap: 0.5rem;
}
.hotel_details .hotel_details_box .primaryBtn {
  height: 3rem;
  font-size: 1rem;
}
.hotel_details .gallery {
  margin-bottom: 1rem;
}
.hotel_details .gallery .carousel-inner {
  border-radius: 0.7rem;
}
.hotel_details .gallery .carousel-inner img {
  height: 348px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.hotel_details .gallery img {
  border-radius: 0.7rem;
}
.hotel_details .gallery .light_box {
  padding: 0 1.5rem;
}
.hotel_details .gallery .light_box .row .col-sm-3 {
  padding-right: 0.3rem;
  padding-left: 0.3rem;
}
.hotel_details .gallery .light_box img {
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 0.5rem;
}
.hotel_details .search_box {
  background: #f8f8f8;
  border-color: #f8f8f8;
  margin-bottom: 1rem;
}
.hotel_details .room_summary {
  margin: 1rem 0;
}
.hotel_details .room_summary img.room_img {
  border-radius: 0.6rem;
  width: 100%;
  height: 8rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.hotel_details .room_summary h4 {
  color: #000;
}
.hotel_details .room_summary h6 {
  color: #707070;
}
.hotel_details .room_summary .nums {
  background: #f8f8f8;
  color: #4aabe8;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  font-size: 1rem;
}
.hotel_details .room_summary .nums svg {
  height: 1rem;
}
.hotel_details .room_summary .nums svg.baby {
  height: 0.7rem;
}
.hotel_details table thead tr th:first-child {
  border-radius: 0.5rem 0 0 0;
}
.hotel_details table thead tr th:last-child {
  border-radius: 0 0.5rem 0 0;
}
.hotel_details table tbody {
  border: 1px solid #eee;
}
.hotel_details .map {
  height: 400px;
}
.hotel_details .map iframe {
  border-radius: 1rem;
  height: 100%;
  border: 1px solid #ccc;
}
.hotel_details .places .places_list li {
  margin-bottom: 0.5rem;
  font-size: 1rem;
}
.hotel_details .hotel_description .hotel_description_box {
  background: #f8f8f8;
  border-color: #f8f8f8;
  margin-bottom: 1rem;
  min-height: 22rem;
}
.hotel_details .hotel_description .hotel_description_box hr {
  background: #ccc;
}

.booking {
  color: #4e4e4e;
}
.booking .guest_info_box {
  background: #f8f8f8;
  border-color: #f8f8f8;
  margin-bottom: 1rem;
  padding-left: 0;
  padding-right: 0;
}
.booking .guest_info_box .content_padding {
  padding-left: 1rem;
  padding-right: 1rem;
}
.booking .guest_info_box .inputGroup {
  margin-top: 0;
}
.booking .guest_info_box .bed_nums_box {
  background: #ecf2ee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}
.booking .guest_info_box .bed_nums_box h6 {
  margin: 0;
  padding: 0.7rem 1.2rem;
}
.booking .guest_info_box .bed_nums_box .bid-count {
  background: #dcebe1;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  height: 60.9px;
  font-size: 1.2rem;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}
.booking .guest_info_box .bed_nums_box .bid-count::before {
  content: "";
  position: absolute;
  left: -30px;
  top: 0;
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-right: 30px solid #dcebe1;
}
.booking .guest_info_box .action_btn {
  font-weight: 700;
  font-size: 0.8rem;
}
.booking .total_box .head_box {
  background: #555555;
  color: #fff;
  padding: 1rem;
  border-radius: 1rem 1rem 0 0;
}
.booking .total_box .head_box h4 {
  font-size: 1.2rem;
}
.booking .total_box .head_box p {
  margin-bottom: 0;
}
.booking .total_box .content_box {
  padding: 1rem;
  background: #f8f8f8;
  border-radius: 0 0 1rem 1rem;
}
.booking .total_box .content_box hr {
  color: #ccc;
}
.booking .total_box .content_box p {
  margin-bottom: 0.5rem;
}
.booking .total_box .content_box .left_side {
  border-inline-end: 1px solid #ccc;
}
.booking .total_box .subtotal_box {
  margin-top: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 1px dashed #ccc;
  border-bottom: 1px dashed #ccc;
}
.booking .total_box .copun_btn {
  background: #4aabe8;
  color: #fff;
}

.voucher {
  padding: 3rem 0;
}
.voucher .left_box img {
  height: 6rem;
}
.voucher .left_box p {
  margin-bottom: 0.4rem;
}
.voucher .left_box .wallet_balance {
  background: #f8f8f8;
  border-color: #f8f8f8;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.voucher .right_box {
  background: #f8f8f8;
  border-color: #f8f8f8;
  margin-bottom: 1rem;
}
.voucher .right_box ul {
  margin-top: 1rem;
}
.voucher .right_box ul li {
  margin-bottom: 0.5rem;
}

.orders .filter_types {
  background: #f8f8f8;
}
.orders .filter_types ul {
  margin: 0;
}
.orders .filter_types ul li {
  padding: 0.6rem;
}
.orders .filter_types ul li.active {
  border-bottom: 2px solid #4aabe8;
}
.orders .filter_types ul li a {
  color: #4e4e4e;
}
.orders .filter_types ul li:not(:last-child) {
  margin-inline-end: 2rem;
}
.orders .filter_buttons {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.orders .filter_buttons a {
  color: #4e4e4e;
  padding: 0.5rem 1rem;
  border: 1px solid #4aabe8;
  border-radius: 0.5rem;
  text-transform: capitalize;
  font-size: 0.9rem;
}
.orders .filter_buttons a.clear {
  color: #e84a4a;
  border-color: transparent;
}
.orders .filter_buttons a.exel {
  font-weight: 700;
  border-color: transparent;
  border-radius: 0;
  border-inline-start-color: #ccc;
}
.orders .order_card {
  border: 1px solid #d5d5d5;
  border-radius: 0.5rem;
  display: flex;
  gap: 1rem;
  margin: 0.5rem 0;
}
.orders .order_card .action_bar {
  width: 3rem;
  padding: 1rem 0.5rem;
  background: #f8f8f8;
  border-radius: 0.5rem 0 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.orders .order_card .action_bar .dropup .dropdown-toggle::after {
  display: none;
}
.orders .order_card .action_bar a {
  cursor: pointer;
}
.orders .order_card .content_box {
  padding: 1rem;
  width: 100%;
}
.orders .order_card .content_box .row:not(:last-child) {
  margin-bottom: 1rem;
}
.orders .order_card .content_box h6 {
  color: #ababab;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}
.orders .order_card .content_box h5 {
  margin-top: 0.3rem;
  font-size: 0.95rem;
}
.orders .modal-body {
  padding: 0;
}
.orders .modal-body .order_card {
  margin: 0;
  border-radius: 0;
  border-color: transparent;
}
.orders .modal-body .bottom_actions button {
  font-size: 0.9rem;
}
.orders .cancel_box .list {
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.orders .cancel_box .list h5 {
  margin-bottom: 0;
}
.orders .cancel_box select {
  border-radius: 0.5rem;
  border-color: #ccc;
  margin-bottom: 1rem;
  color: #4e4e4e;
  padding: 0.5rem;
}
.orders .cancel_box button {
  height: 3rem;
  font-size: 1rem;
}

.profile .profile_content {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.profile .profile_content .profile_box {
  background: #f8f8f8;
  border-color: #f8f8f8;
  margin-bottom: 1rem;
}
.profile .profile_content .profile_box .inputGroup {
  margin: 0.5rem 0;
}
.profile .profile_content .profile_box .secondBtn {
  height: 3rem;
  font-size: 1rem;
}
.profile table {
  margin-top: -1rem;
}
.profile table thead tr th:first-child {
  border-radius: 0.5rem 0 0 0;
}
.profile table thead tr th:last-child {
  border-radius: 0 0.5rem 0 0;
}
.profile table tbody {
  border: 1px solid #eee;
}
.profile .table-dark {
  --bs-table-bg: #555555;
  --bs-table-striped-bg: #555555;
  --bs-table-striped-color: #fff;
  --bs-table-active-bg: #373b3e;
  --bs-table-active-color: #fff;
  --bs-table-hover-bg: #323539;
  --bs-table-hover-color: #fff;
  color: #fff;
  border-color: #555555;
}

.rooms_dropdown {
  width: 100%;
}
.rooms_dropdown .room_menu {
  min-width: 24rem;
  padding: 0 1rem;
  padding-bottom: 0.5rem;
}
.rooms_dropdown .child_badge {
  padding: 0.3rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-radius: 0.3rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  background: #f8f8f8;
}
.rooms_dropdown button.input_drop {
  background: transparent;
  border: unset;
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: unset;
  color: #cfccd4;
}
.rooms_dropdown .done {
  height: 2.3rem;
  width: 100%;
  border-radius: 0.3rem;
  font-size: 1rem;
}
.rooms_dropdown .room_list {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
.rooms_dropdown .room_list:not(:last-child) {
  border-bottom: 1px solid #dedede;
}
.rooms_dropdown .room_list h4 {
  color: #000;
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
}
.rooms_dropdown .room_list .removeRoom {
  cursor: pointer;
}
.rooms_dropdown .room_list select.add_child {
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  height: 40px;
  margin-top: 0.3rem;
  background: #fff;
  color: #555;
}
.rooms_dropdown .room_list .quantity-wrapper {
  display: flex;
  margin-top: 0.3rem;
}
.rooms_dropdown .room_list .quantity-wrapper .quantity-button {
  border: none;
  width: 40px;
  height: 40px;
  transition: 300ms;
  margin-top: 0;
}
.rooms_dropdown .room_list .quantity-wrapper .quantity-button:hover {
  background-color: #edebeb;
}
.rooms_dropdown .room_list .quantity-wrapper .quantity-button.decreases {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.rooms_dropdown .room_list .quantity-wrapper .quantity-button.increases {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.rooms_dropdown .room_list .quantity-wrapper .quantity {
  border: none;
  background-color: #fafafa;
  width: 40px;
  height: 40px;
  margin: 0;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0.5rem;
  font-size: 16px;
}
.rooms_dropdown .room_list .border_box {
  width: 132px;
  border: 1px solid #ccc;
  border-radius: 0.4rem;
  margin-top: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.select2-container--default .select2-selection--single {
  border: none;
  background: transparent;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  padding-inline-start: 0;
  color: #9999b3;
}

.min-vh-60 {
  min-height: 60vh;
}

.com_register {
  min-height: calc(100vh - 90px);
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.com_register .inputGroup {
  margin-bottom: 0.5rem !important;
}
.com_register .sign_box h2 {
  color: #8ec6a1;
  background: transparent;
  font-size: 1.5rem;
}
.com_register .sign_box input[type=file] {
  background: transparent;
  opacity: 0;
  padding: 0;
}
.com_register .sign_box label.for_logo {
  color: #bbb;
  cursor: pointer;
}

.company_section {
  min-height: calc(100vh - 90px);
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.company_section .steps {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  background: #f8f8f8;
  margin-bottom: 2rem;
}
.company_section .steps .space {
  background: #d5d5d5;
  height: 2px;
  width: 40%;
}
.company_section .steps .space.active {
  background: #4aabe8;
}
.company_section .steps .step {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.company_section .steps .step p {
  margin: 0;
}
.company_section .steps .step span {
  width: 30px;
  height: 30px;
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
  background: #ccc;
  border-radius: 50%;
}
.company_section .steps .step.active span {
  background: #4aabe8;
}
.company_section .provider_box {
  padding: 1rem;
  border-radius: 1rem;
  background: #f8f8f8;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.company_section .provider_box .inputGroup {
  position: relative;
}
.company_section .provider_box .inputGroup .fa-trash {
  position: absolute;
  right: 0.5rem;
  top: 1.3rem;
  color: #e84a4a;
  cursor: pointer;
}
.company_section .provider_box .heading {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.company_section .provider_box .heading img {
  height: 60px;
  width: 70px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}
.company_section .provider_box .heading .chooce {
  display: flex;
  gap: 0.4rem;
  align-items: center;
}
.company_section .provider_box .heading .chooce input[type=checkbox] {
  width: 20px;
  height: 20px;
}
.company_section .company_tab {
  background: #f8f8f8;
}
.company_section .company_tab li {
  padding: 0.8rem 0.2rem;
  text-align: center;
}
.company_section .company_tab li.active {
  border-bottom: 3px solid #4aabe8;
}
.company_section .company_tab li:not(:last-child) {
  margin-inline-end: 2rem;
}
.company_section .company_tab a {
  color: #4e4e4e;
  font-size: 1rem;
  font-weight: 600;
}
.company_section .info-box {
  padding: 1rem;
  border-radius: 1rem;
  background: #f8f8f8;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.company_section .info-box .inputGroup {
  margin-bottom: 0.5rem !important;
}
.company_section .info-box input[type=file] {
  background: transparent;
  opacity: 0;
  padding: 0;
}
.company_section .info-box label.for_logo {
  color: #bbb;
  cursor: pointer;
}

.search_icon {
  position: absolute;
  right: 0.5rem;
  top: 1.2rem;
  color: #4aabe8;
  font-size: 1.4rem;
}

.add_new_agent_box {
  background: #f8f8f8;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  padding: 2rem 1rem;
}
.add_new_agent_box .fa-user {
  color: #b5b5b5;
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.tax_invoice {
  padding: 2rem 0;
}
.tax_invoice img.logo {
  width: 150px;
  margin-bottom: 2rem;
}
.tax_invoice .right {
  text-align: end;
}
.tax_invoice h3 {
  font-size: 22px;
}
.tax_invoice p {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  color: #777;
}
.tax_invoice .tax_box {
  margin-top: 1rem;
  margin-bottom: 1rem;
  background: #f6f6f6;
  padding-right: 1rem;
  padding-left: 1rem;
}
.tax_invoice .tax_box h3.heading {
  margin-bottom: 1rem;
  font-size: 1.6rem;
}
.tax_invoice .tax_box h4 {
  font-size: 1.2rem;
}
.tax_invoice .tax_box .right {
  text-align: end;
}
.tax_invoice .tax_box .right img.qr_code {
  width: 110px;
  margin-top: -1rem;
}
.tax_invoice .table > thead th {
  font-size: 13px;
  padding-left: 3px;
  padding-right: 3px;
}

@media print {
  div.no_break {
    -moz-column-break-inside: avoid;
         break-inside: avoid;
  }
}
.booking_invoice {
  padding: 2rem 0;
}
.booking_invoice img.logo {
  width: 150px;
  margin-bottom: 2rem;
}
.booking_invoice h3 {
  font-size: 22px;
}
.booking_invoice p {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  color: #777;
}
.booking_invoice img.qr_code {
  width: 120px;
  height: 120px;
}
.booking_invoice .tax_box {
  margin-top: 1rem;
  margin-bottom: 1rem;
  background: #f6f6f6;
  padding-right: 1rem;
  padding-left: 1rem;
}
.booking_invoice .tax_box h3.heading {
  margin-bottom: 1rem;
  font-size: 1.6rem;
}
.booking_invoice .tax_box h4 {
  font-size: 1.2rem;
}
.booking_invoice .tax_box img.hotel_logo {
  height: 252px;
  width: 100%;
  border: 1px solid #ccc;
}
.booking_invoice .tax_box .checks {
  padding: 1rem;
  margin-top: 1rem;
  background: #FFFFFF;
}
.booking_invoice .tax_box .checks .right {
  border-inline-start: 1px solid #4aabe8;
}

/* Responsive */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .quickStart a {
    width: 90%;
  }
  .hotel_informations .my_card p.num {
    font-size: 2rem;
  }
  .hotel_filter .hotel_card .feat {
    flex-wrap: wrap;
  }
  .main_row {
    flex-direction: column-reverse;
  }
  .hotel_filter .map {
    height: 60vh;
    margin: 1rem 0;
  }
  .filter_sidebar {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #d3d3d3;
  }
  .hotel_details .hotel_details_box .primaryBtn {
    margin-top: 1rem;
  }
  .hotel_details .gallery .light_box img {
    height: 6.7rem;
  }
  .hotel_details .gallery .light_box {
    padding: 0 1.2rem;
  }
  .room_summary h5 {
    font-size: 1rem;
  }
  .hotel_details .room_summary img.room_img {
    height: 10rem;
  }
  .orders .order_card {
    gap: 0.5rem;
  }
  .profile .top {
    text-align: center;
    overflow-x: hidden;
  }
  .profile .top .chart-container {
    justify-content: center;
  }
  .sign_in.new_login .carousel-item img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .lb-outerContainer {
    width: 80vw !important;
    height: 40vh !important;
  }
  .lb-outerContainer img {
    width: 80vw !important;
    height: 40vh !important;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .hotel_filter .hotel_card .col-sm-4 {
    padding-inline-end: calc(var(--bs-gutter-x) * 0.5);
  }
  .hotel_filter .hotel_card .col-sm-8 {
    padding-inline-start: calc(var(--bs-gutter-x) * 0.5);
  }
  .hotel_filter .hotel_card .hotel_img {
    border-radius: 1rem 1rem 0 0;
  }
  .hotel_filter .hotel_card .right-side {
    border-inline-start: none;
    border-top: 1px solid #d4d3d3;
    padding-top: 0.5rem;
    margin-top: 0.5rem;
    padding-inline-start: 0;
  }
  .hotel_filter .hotel_card .price-box {
    border-radius: 0 0 1rem 1rem;
  }
  .tax_invoice .tax_box .big_row {
    flex-direction: column-reverse;
  }
  .tax_invoice .top-row .right {
    text-align: start;
  }
  .tax_invoice .tax_box .right {
    text-align: center;
  }
  .tax_invoice .tax_box .right img {
    margin-top: 5px !important;
    margin-bottom: 20px;
  }
  .servises-tab li:not(:last-child) {
    margin-inline-end: 1rem;
  }
}
/* galaxy S5 */
/* iphone x, 6/7/8 */
/* iphone 6/7/8 plus */
/* ipad */
/* ipad pro  */
/* 17 inch */
@media only screen and (min-width: 1920px) and (max-width: 2500px) {
  .hotel_filter .hotel_card .feat .review {
    gap: 0.7rem;
  }
}/*# sourceMappingURL=style.css.map */